.ax_default {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
.text_field {
  color:#000000;
  text-align:left;
}
.placeholder {
}
.box_1 {
}
.box_3 {
}
.ellipse {
}
._图像 {
}
._标题_1 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._标题_2 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._标题_3 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._标题_4 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
._标题_5 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
._标题_6 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.label {
  font-size:14px;
  text-align:left;
}
._文本 {
  text-align:left;
}
.line {
}
.arrow {
}
.text_link {
  color:#0000FF;
}
.text_area {
  color:#000000;
  text-align:left;
}
.droplist {
  color:#000000;
  text-align:left;
}
.radio_button {
  text-align:left;
}
.table_cell {
}
._连接符 {
}
.menu_item {
}
.sticky_3 {
  text-align:left;
}
._流程形状 {
}
.form_hint {
  color:#999999;
}
.form_disabled {
}
._表单提示 {
  color:#999999;
}
._表单禁用 {
}
.shape {
}
._36号字_顶部标题、大按钮、弹窗提示主标题_ {
  font-family:'PingFang SC ', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._32号字_单行列表内，右方操作说明的文字__） {
  font-family:'PingFang SC ', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
.image {
  color:#000000;
}
.box_2 {
}
.image1 {
}
.horizontal_line {
}
.refs-webm-wechat {
  font-family:'PingFang SC ', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
.text_link_mouse_over {
}
.text_link_mouse_down {
}
.refs-design-apple {
  font-family:'PingFang SC ', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
._图片 {
  color:#000000;
}
._形状 {
  font-family:'PingFang SC ', 'PingFang SC';
  font-weight:normal;
  font-style:normal;
  font-size:50px;
  color:#FFFFFF;
  text-align:center;
  line-height:normal;
}
._一级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.button {
}
.primary_button {
  color:#FFFFFF;
}
._默认样式 {
}
.image2 {
}
.icon {
}
textarea, select, input, button { outline: none; }
